
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1479274420613'); /* IE9*/
  src: url('iconfont.eot?t=1479274420613#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1479274420613') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1479274420613') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1479274420613#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:22px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lishi:before { content: "\3452"; }

.icon-yinle:before { content: "\f002d"; }

.icon-yuwen:before { content: "\e62b"; }

.icon-plastic:before { content: "\e60d"; }

.icon-icon17:before { content: "\e622"; }

.icon-icon20:before { content: "\e625"; }

.icon-zhengzhi:before { content: "\e619"; }

.icon-shengwu:before { content: "\e608"; }

.icon-tiyu:before { content: "\e606"; }

.icon-02:before { content: "\e652"; }
